.newListForm {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.newListForm img {
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

.newListForm img:active {
    background-color: #ddd;
    border-radius: 16px;
}

.newListForm input {
    width: 90%;
    height: 40px;
    margin: 10px 10px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    display: flex;
    align-self: center;
}

.newListForm input:focus {
    outline: none;
}