.nav-icon {
    margin-right: 10px;
}

/* Updated Navbar Styles */
nav {
    transform: translate(0, 0.2em);
    background: linear-gradient(to right, #2c3e50, #246997);
    /* Gradient from deep blue to lighter blue */
    /* Subtle shadow for depth */
}

@media (max-width: 768px) {
    #nav-desc {
        display: none;
    }
}

@media (max-width: 374px) {
    .nav-icon {
        margin-right: 0px;
        transform: scale(0.8);
    }

}