#sideBar {
    max-height: 91vh;
    overflow-y: auto;
}

#sideBar h1 {
    font-size: 30px;
    font-weight: 600;
    color: #333;
    text-align: left;
    margin: 0;
    padding: 10px 0 0 10px;
}

#sideBar ul {
    padding: 0;
    margin: 10px 0 0 0;
    list-style: none;
    text-align: left;
    overflow-y: auto;
}

#sideBar li {
    margin: 0;
    border-bottom: 1px solid #ccc;
    display: grid;
    grid-template-columns: 1fr auto;
    height: 60px;
}

#sideBar li:first-child {
    border-top: 1px solid #ccc;
}

#sideBar li span {
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    transition: background-color 0.2s ease-in-out;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#sideBar li span:hover {
    background-color: #eee;
}

#sideBar li span:active {
    background-color: #ddd;
}

#sideBar li button {
    margin: 0;
    padding: 0px 15px;
    background-color: white;
    border: none;
    border-left: 1px solid #ccc;
    font-size: 30px;
    transition: background-color 0.2s ease-in-out;
}

#sideBar li button:hover {
    background-color: #E74C3C;
    cursor: pointer;
}

#sideBar li button:active {
    background-color: white;
}

@media (max-width: 768px) {
    #sideBar h1 {
        display: none;
    }

    #sideBar .newListForm {
        gap: 10px;
    }
}