#ListPage {
    border-radius: 5px;
}

#ListPage h1 {
    margin: 0;
    padding-left: 10px;
}

#ListPage #header {
    padding-top: 20px;
    border-bottom: 1px solid #ccc;
    background-color: #f5f5f5;
    margin: 0;
    border-radius: 5px 5px 0 0;
    padding-bottom: 10px;
}

#ListPage .newListForm {
    display: flex;
    margin-right: 10px;
}

#ListPage .newListForm img {
    padding: 0;
    margin: 0;
}

#ListPage #showCompleted {
    display: flex;
    align-items: center;
}

#ListPage input[type="checkbox"] {
    cursor: pointer;
    margin-left: 10px;
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

#ListPage label {
    font-family: sans-serif;
    font-weight: 600;
}

#ListPage ul {
    max-height: 72vh;
    overflow-y: auto;
    margin: 0;
}

@media (max-width: 768px) {
    #ListPage #header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #ListPage ul {
        max-height: 38vh;
    }
}